# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

6

##### Assinging float

In [6]:
my_float=2.3
myFloat = 2.33 #bad for python use snake case

2.3
4.3

#### Performing Calculations on ints and floats

##### Addition

In [15]:
num1 = 2
num2 = 5.7
num3 = 3
result = num1 + num3

7.7
9.7

##### Subtraction

3.7
1.7000000000000002

##### Multiplication

##### Division

2.0
1.0

##### Floor Division

2

2

##### Modulo

In [4]:
mod = 5 % 2
print (mod)

1

##### Exponential

25

### String Input-Output

##### String Assignment

Nate

##### print() <br>
<p>Don't forget about end=' '</p>

This is my first name: Nate
Full Name: Nate Welter

##### String Concatenation

Nate Welter

##### Type Conversion

<class 'int'>
<class 'str'>

##### input()

What is your age?: 27
27
<class 'int'>

##### format()

What is your age?27
You are 27 years old and you are getting wiser!
27 is a great time in life

##### Old Way (python 2)

You are 27 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [7]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")

result_str = f"you drive a {year} {make} {model} that is painted {color}!"
print(result_str)

What color is your car? black
What year is your car? 2016
What make is your car? focus
What model is your car? fast
you drive a 2016 focus fast that is painted black!

### If Statements

In [73]:
name = "john"

if name == "john":
    print(0)
else:
    print(5)

print(0) if name == "john" else print(5)

if name =="steve":
    print(10)
elif name =="john":
    print(0)
else:
    print(5)
    
print(10) if name == "steve" else (0) if name == "john" else (5)

Not Equal
num1 is less
nothing
something

##### 'is' keyword

In [ ]:
# the is statement checjs gor the similar /same object not neccesarily the same value

list1 = []
list2 = []
list3 = []

if (list1 == list2):
    print("True")
else:
    print("False")
    
if (list1 is list2):
    print("True")

##### 'in' keyword

In [76]:
#

The character who lost everything...

##### 'not in' keyword'

a is NOT in here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [15]:
name = input("What is your name? ")
if "p" in name:
    print("True")
else:
    print ("False")

What is your name? jimmy
False

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [5]:
names = ["Peter","Paul","Mary"]
for name in names:
    print(name.lower())
    print(type(name))
    print("inside the loop")
print("outside the loop")

peter
<class 'str'>
inside the loop
paul
<class 'str'>
inside the loop
mary
<class 'str'>
inside the loop
outside the loop

In [7]:
names = ["Peter","Paul","Mary"]
for index in range(len(names)):
        print(index)
        print(type(index))
        print(names[index])

0
<class 'int'>
Peter
1
<class 'int'>
Paul
2
<class 'int'>
Mary

In [8]:
# access the index and the object at the same time
for index, name in enumerate(names):
    print(index, name)

0 Peter
1 Paul
2 Mary

##### Using 'in' keyword

##### Continue Statement

In [12]:
for i1 in range(10):
    if i1 == 5:
        print("i1 equals 5")
        continue
    print(i1)

0
1
2
3
4
i1 equals 5
6
7
8
9

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [16]:
for i2 in range(10):
        if i2 == 5:
            print ("i2 equals 5")
            break
        print(i2)

0
1
2
3
4
i2 equals 5

0
1
2
3
4

##### Pass Statement

##### Double For Loops

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 5, j = 0
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 6, j = 0
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 7, j = 0
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 8, j = 0
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 9, j = 0
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 10, j = 0
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 11, j = 0
i = 11, j = 1
i = 11, j = 2
i = 11, j = 3
i = 11, j = 4
i = 12, j = 0
i = 12, j = 1
i = 12, j = 2
i = 12, j = 3
i = 12, j = 4
i = 13, j = 0
i = 13, j = 1
i = 13, j = 2
i = 13, j = 3
i = 13, j = 4
i = 14, j = 0
i = 14, j = 1
i = 14, j = 2
i = 14, j = 3
i = 14, j = 4
i = 15, j = 0
i = 15, j = 1
i = 15, j = 2
i = 15, j = 3
i = 15, j = 4
i = 16, j = 0
i = 16, j = 1
i = 16, j = 2
i = 16, j = 3
i = 16, j = 4
i = 17, j = 0
i = 17, j = 1
i = 17, j = 2
i = 17, j = 3
i = 17, j = 4
i = 18, j = 0
i = 18, j = 1
i = 18, j = 2
i = 18, j = 3
i = 18, j = 4
i = 19, j = 0
i = 19, j = 1
i = 19, j = 2
i = 19, j = 3
i = 19, j = 4
i = 20, j = 0
i = 20, j = 1
i = 20, j = 2
i = 20, j = 3
i = 20, j = 4
i = 21, j = 0
i = 21, j = 1
i = 21, j = 2
i = 21, j = 3
i = 21, j = 4
i = 22, j = 0
i = 22, j = 1
i = 22, j = 2
i = 22, j = 3
i = 22, j = 4
i = 23, j = 0
i = 23, j = 1
i = 23, j = 2
i = 23, j = 3
i = 23, j = 4
i = 24, j = 0
i = 24, j = 1
i = 24, j = 2
i = 24, j = 3
i = 24, j = 4
i = 25, j = 0
i = 25, j = 1
i = 25, j = 2
i = 25, j = 3
i = 25, j = 4
i = 26, j = 0
i = 26, j = 1
i = 26, j = 2
i = 26, j = 3
i = 26, j = 4
i = 27, j = 0
i = 27, j = 1
i = 27, j = 2
i = 27, j = 3
i = 27, j = 4
i = 28, j = 0
i = 28, j = 1
i = 28, j = 2
i = 28, j = 3
i = 28, j = 4
i = 29, j = 0
i = 29, j = 1
i = 29, j = 2
i = 29, j = 3
i = 29, j = 4
i = 30, j = 0
i = 30, j = 1
i = 30, j = 2
i = 30, j = 3
i = 30, j = 4
i = 31, j = 0
i = 31, j = 1
i = 31, j = 2
i = 31, j = 3
i = 31, j = 4
i = 32, j = 0
i = 32, j = 1
i = 32, j = 2
i = 32, j = 3
i = 32, j = 4
i = 33, j = 0
i = 33, j = 1
i = 33, j = 2
i = 33, j = 3
i = 33, j = 4
i = 34, j = 0
i = 34, j = 1
i = 34, j = 2
i = 34, j = 3
i = 34, j = 4
i = 35, j = 0
i = 35, j = 1
i = 35, j = 2
i = 35, j = 3
i = 35, j = 4
i = 36, j = 0
i = 36, j = 1
i = 36, j = 2
i = 36, j = 3
i = 36, j = 4
i = 37, j = 0
i = 37, j = 1
i = 37, j = 2
i = 37, j = 3
i = 37, j = 4
i = 38, j = 0
i = 38, j = 1
i = 38, j = 2
i = 38, j = 3
i = 38, j = 4
i = 39, j = 0
i = 39, j = 1
i = 39, j = 2
i = 39, j = 3
i = 39, j = 4
i = 40, j = 0
i = 40, j = 1
i = 40, j = 2
i = 40, j = 3
i = 40, j = 4
i = 41, j = 0
i = 41, j = 1
i = 41, j = 2
i = 41, j = 3
i = 41, j = 4
i = 42, j = 0
i = 42, j = 1
i = 42, j = 2
i = 42, j = 3
i = 42, j = 4
i = 43, j = 0
i = 43, j = 1
i = 43, j = 2
i = 43, j = 3
i = 43, j = 4
i = 44, j = 0
i = 44, j = 1
i = 44, j = 2
i = 44, j = 3
i = 44, j = 4
i = 45, j = 0
i = 45, j = 1
i = 45, j = 2
i = 45, j = 3
i = 45, j = 4
i = 46, j = 0
i = 46, j = 1
i = 46, j = 2
i = 46, j = 3
i = 46, j = 4
i = 47, j = 0
i = 47, j = 1
i = 47, j = 2
i = 47, j = 3
i = 47, j = 4
i = 48, j = 0
i = 48, j = 1
i = 48, j = 2
i = 48, j = 3
i = 48, j = 4
i = 49, j = 0
i = 49, j = 1
i = 49, j = 2
i = 49, j = 3
i = 49, j = 4
i = 50, j = 0
i = 50, j = 1
i = 50, j = 2
i = 50, j = 3
i = 50, j = 4
i = 51, j = 0
i = 51, j = 1
i = 51, j = 2
i = 51, j = 3
i = 51, j = 4
i = 52, j = 0
i = 52, j = 1
i = 52, j = 2
i = 52, j = 3
i = 52, j = 4
i = 53, j = 0
i = 53, j = 1
i = 53, j = 2
i = 53, j = 3
i = 53, j = 4
i = 54, j = 0
i = 54, j = 1
i = 54, j = 2
i = 54, j = 3
i = 54, j = 4
i = 55, j = 0
i = 55, j = 1
i = 55, j = 2
i = 55, j = 3
i = 55, j = 4
i = 56, j = 0
i = 56, j = 1
i = 56, j = 2
i = 56, j = 3
i = 56, j = 4
i = 57, j = 0
i = 57, j = 1
i = 57, j = 2
i = 57, j = 3
i = 57, j = 4
i = 58, j = 0
i = 58, j = 1
i = 58, j = 2
i = 58, j = 3
i = 58, j = 4
i = 59, j = 0
i = 59, j = 1
i = 59, j = 2
i = 59, j = 3
i = 59, j = 4
i = 60, j = 0
i = 60, j = 1
i = 60, j = 2
i = 60, j = 3
i = 60, j = 4
i = 61, j = 0
i = 61, j = 1
i = 61, j = 2
i = 61, j = 3
i = 61, j = 4
i = 62, j = 0
i = 62, j = 1
i = 62, j = 2
i = 62, j = 3
i = 62, j = 4
i = 63, j = 0
i = 63, j = 1
i = 63, j = 2
i = 63, j = 3
i = 63, j = 4
i = 64, j = 0
i = 64, j = 1
i = 64, j = 2
i = 64, j = 3
i = 64, j = 4
i = 65, j = 0
i = 65, j = 1
i = 65, j = 2
i = 65, j = 3
i = 65, j = 4
i = 66, j = 0
i = 66, j = 1
i = 66, j = 2
i = 66, j = 3
i = 66, j = 4
i = 67, j = 0
i = 67, j = 1
i = 67, j = 2
i = 67, j = 3
i = 67, j = 4
i = 68, j = 0
i = 68, j = 1
i = 68, j = 2
i = 68, j = 3
i = 68, j = 4
i = 69, j = 0
i = 69, j = 1
i = 69, j = 2
i = 69, j = 3
i = 69, j = 4
i = 70, j = 0
i = 70, j = 1
i = 70, j = 2
i = 70, j = 3
i = 70, j = 4
i = 71, j = 0
i = 71, j = 1
i = 71, j = 2
i = 71, j = 3
i = 71, j = 4
i = 72, j = 0
i = 72, j = 1
i = 72, j = 2
i = 72, j = 3
i = 72, j = 4
i = 73, j = 0
i = 73, j = 1
i = 73, j = 2
i = 73, j = 3
i = 73, j = 4
i = 74, j = 0
i = 74, j = 1
i = 74, j = 2
i = 74, j = 3
i = 74, j = 4
i = 75, j = 0
i = 75, j = 1
i = 75, j = 2
i = 75, j = 3
i = 75, j = 4
i = 76, j = 0
i = 76, j = 1
i = 76, j = 2
i = 76, j = 3
i = 76, j = 4
i = 77, j = 0
i = 77, j = 1
i = 77, j = 2
i = 77, j = 3
i = 77, j = 4
i = 78, j = 0
i = 78, j = 1
i = 78, j = 2
i = 78, j = 3
i = 78, j = 4
i = 79, j = 0
i = 79, j = 1
i = 79, j = 2
i = 79, j = 3
i = 79, j = 4
i = 80, j = 0
i = 80, j = 1
i = 80, j = 2
i = 80, j = 3
i = 80, j = 4
i = 81, j = 0
i = 81, j = 1
i = 81, j = 2
i = 81, j = 3
i = 81, j = 4
i = 82, j = 0
i = 82, j = 1
i = 82, j = 2
i = 82, j = 3
i = 82, j = 4
i = 83, j = 0
i = 83, j = 1
i = 83, j = 2
i = 83, j = 3
i = 83, j = 4
i = 84, j = 0
i = 84, j = 1
i = 84, j = 2
i = 84, j = 3
i = 84, j = 4
i = 85, j = 0
i = 85, j = 1
i = 85, j = 2
i = 85, j = 3
i = 85, j = 4
i = 86, j = 0
i = 86, j = 1
i = 86, j = 2
i = 86, j = 3
i = 86, j = 4
i = 87, j = 0
i = 87, j = 1
i = 87, j = 2
i = 87, j = 3
i = 87, j = 4
i = 88, j = 0
i = 88, j = 1
i = 88, j = 2
i = 88, j = 3
i = 88, j = 4
i = 89, j = 0
i = 89, j = 1
i = 89, j = 2
i = 89, j = 3
i = 89, j = 4
i = 90, j = 0
i = 90, j = 1
i = 90, j = 2
i = 90, j = 3
i = 90, j = 4
i = 91, j = 0
i = 91, j = 1
i = 91, j = 2
i = 91, j = 3
i = 91, j = 4
i = 92, j = 0
i = 92, j = 1
i = 92, j = 2
i = 92, j = 3
i = 92, j = 4
i = 93, j = 0
i = 93, j = 1
i = 93, j = 2
i = 93, j = 3
i = 93, j = 4
i = 94, j = 0
i = 94, j = 1
i = 94, j = 2
i = 94, j = 3
i = 94, j = 4
i = 95, j = 0
i = 95, j = 1
i = 95, j = 2
i = 95, j = 3
i = 95, j = 4
i = 96, j = 0
i = 96, j = 1
i = 96, j = 2
i = 96, j = 3
i = 96, j = 4
i = 97, j = 0
i = 97, j = 1
i = 97, j = 2
i = 97, j = 3
i = 97, j = 4
i = 98, j = 0
i = 98, j = 1
i = 98, j = 2
i = 98, j = 3
i = 98, j = 4
i = 99, j = 0
i = 99, j = 1
i = 99, j = 2
i = 99, j = 3
i = 99, j = 4

### While Loops

In [17]:
num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
is_game_over = False

while True:
        print("infinite loop")
        respos

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [ ]:
cubed=[]

for i in range((100)):
    cubed.append(i**3)
    if i**3 > 1000:
        print ("Cubed number in list is more than 1000")
        break
    

    print(cubed)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [ ]:
for i2 in range(1000):
        if i2*i2*i2 >1000 :
            print ("Cubed number is more than 1000")
            break
        print(i2)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [42]:
for number in range (1, 101):
    count = 0
    for i in range(2, (number//2 + 1)):
        if(number % i == 0):
            count = count + 1
            break

    if (count == 0 and number != 1):
        print(" %d" %number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("What is your age (in numbers)? "))
if age <18:
    print("Kids")
    
elif age >= 18 and age <= 65:
    print ("Adults")
    
else:
    print("Seniors")